<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小果坊</title>
</head>
<body>
    <header>
        <img src="./img/logo.jpg" alt="xiaogf logo">
    </header>
    {{{body}}}
</body>
</html>